<div style="margin: 30px 45px 10px 500px;" >
<h1 style="color: red;margin-left: 100px;">Student Details</h1>
<a href="/studentprofile"><button style="background-color: rgb(19, 185, 94);margin-left: -60px;color: black;font-weight: bolder;border: 2px solid black;border-radius: 5px;padding: 10px 30px;">View Profile</button></a>

<a href="/filter"><button style="background-color: rgb(25, 160, 54);color: black;font-weight: bolder;border: 2px solid black;border-radius: 5px;padding: 10px 30px;">Transactions</button></a>
</div>