<div class="container mt-5">
  <h1>Registration Details</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h2>Name:gokul kannan</h2>
          <h2>Email:gokulgokulkannan770@gmail.com</h2>
          <h2>Registration Number:1p22mc014</h2>
          <h2>Course:mca</h2>
          <h2>Batch:2022</h2>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h2>Name:gokul</h2>
          <h2>Email:gokulgokulkannan770@gmail.com</h2>
          <h2>Registration Number:1p22mc014</h2>
          <h2>Course:bca</h2>
          <h2>Batch:2023</h2>
        </div>
      </div>
    </div>
  </div>
</div>
