<!DOCTYPE html>
<html>

<head>
	<title>Body-Parser Module Demo</title>
</head>

<body>
	<h1>add two Form</h1>

	<form action="saveData" method="POST">
		<pre>
			<div id="ad"></div>
			Enter yourfirst number : <input type="text"
								name="firstnumber"> <br>
								Enter yoursecond number : <input type="text"
								name="secondnumber"> <br>
			<input type="submit" value="Submit value">
		</pre>
	</form>
	<p>the result is<%= result %></p>
</body>

</html>